.body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #fff;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
/* ------------heder---------------- */
.header {
}
.header-navigation {
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}
.logo-spain {
    color: #4d5ae5;
}
.header-navigation-list {
}
.header-navigation-list-item {
    font-weight: 500;

    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.header-navigation-list-item:hover,
.header-navigation-list-item:active {
    color: #404bbf;
}
.header-address {
}
.header-address-list {
}
.header-address-list-item {
    line-height: 1.5;
    letter-spacing: 0.02em;  
}
.header-address-list-item:hover {
    color: #404bbf
}

/* ------------heder---------------- */
/* -------------main--------------- */
/*------------section-one---------- */
.main {
}
.section-one {
    background: #2e2f42;
}
.section-one .title {
    font-size: 56px;
    line-height: 1.07
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}
.section-one-btl {
}
.section-one-btl:hover {
    background: #404bbf;
}
/*------------section-one---------- */
/* -------------section-advantages -------- */
.section-advantages {
}
.section-advantages .subject {
}
.advantages-list {
}
.advantages-item {
}
.advantages-item .heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.advantages-item .text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* -------------section-advantages -------- */
/* ----------section-team------------- */
.section-team {
    background: #f4f4fd;
}
.subject {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.team-list {
}
.team-item {
    background: #fff;
}
.img {
}
.heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}
/* ----------section-team------------- */
/* ----------section-portfolio------------- */
.section-portfolio {
}
.subject {
}
.portfolio-list {
}
.portfolio-item {
}
.img {
}
.heading {
}
.text {
}
/* ----------section-portfolio------------- */
/* -------------main--------------- */
/* -------------footer--------------- */
.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}
.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}